.app-layout-wrapper-chapter {
    width: 80%;
    margin: 0 auto;
    padding: 48px 0px;
    .mat-sidenav {
        width: 20%;
        border-radius: 5px;
    }
    .mat-sidenav-container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .mat-sidenav-content {
        width: 80%;
        height: 100%;
    }
    .mat-drawer-container {
        background: #f6f7fb;
    }
    mat-list-option {
        color: #615F5F;
    }
}

.sad-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 4px;
    vertical-align: middle
}

.sad-image-container {
    height: 50px;
    width: 50px;
    vertical-align: middle
}

.sad-emoji {
    height: 100%;
}

.sad-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    margin-left: 24px;
}

.chapter-list {
    margin-top: 15px;
}

.chapters-content-card {
    margin-top: 15px;
}

.mat-card-chapters-content {
    border: 1px solid #b8b8b8;
    background: #fff;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.header-user-image {
    margin-left: 25px;
    img {
        background-size: cover;
        height: 30px;
        width: 30px;
    }
}

.card-container {
    margin-left: 15px;
}

.chapters-content-card,
.chapters-card {
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, .16);
    background: #fff;
    border-radius: 5px;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    color: #615F5F;
}

.document-type-container {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    img {
        display: block;
        cursor: pointer;
    }
}

.card-title {
    font-size: 15px;
    line-height: 14px;
}

.info-text {
    text-align: center;
}

.document-file {
    height: 250px;
    width: 250px;
    img {
        width: 100%;
        height: 100%;
    }
}

.video-container {
    height: 80%;
    width: 80%;
    video {
        width: 100%;
        height: 100%;
    }
}

.audio-container {
    height: 80%;
    width: 80%;
    audio {
        width: 100%;
        height: 100%;
    }
}

.audio-container,
.document-file,
.video-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flux-card {
    width: 100% !important;
    padding: 0 !important;
    background-image: linear-gradient(90deg, #006eff, #04F6FF);
    //background: #03a4ff;
    color: white;
    opacity: 0.5;
}

.flux-card>mat-card-header {
    padding: 10px !important;
    margin: 0px !important;
    //background-color: #f83e8c;
    padding-top: 30px !important;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
