<div class="app-layout-header">
    <div class="app-layout-wrapper">
        <h1>{{ course.courseName }}</h1>
    </div>
</div>

<div class="progress-spinner-container" *ngIf="isLoading">
    <mat-spinner [diameter]="50" [strokeWidth]="4"></mat-spinner>
</div>
<div class="app-layout-wrapper-chapter">

    <mat-sidenav-container class="mat-sidenav-container">
        <mat-sidenav class="mat-sidenav" mode="side" opened>
            <mat-selection-list [multiple]="false">
                <mat-list-option class="chapter-list" (click)="navigateToCourse(course._id)">Tous les chapitres</mat-list-option>
                <mat-list-option *ngFor="let chapter of course.chapters">
                    <p (click)="navigateToChapterDetails(course._id, chapter._id)">{{ chapter.chapterName }}</p>
                </mat-list-option>
            </mat-selection-list>
        </mat-sidenav>
        <mat-sidenav-content class="mat-sidenav-content">
            <div class="card-container">
                <mat-card class="chapters-card  clickable-card" *ngIf="role === 'Teacher'" (click)="navigateToAddContent(course._id, chapter._id)" routerLinkActive="router-link-active">

                    <mat-card-header>
                        <mat-card-title>
                            <p class="chapter-name">{{ chapter.chapterName }}</p>
                        </mat-card-title>
                    </mat-card-header>
                    <hr>
                    <mat-card-content>

                        <div class="sad-container">
                            <div class="sad-image-container">
                                <img class="sad-emoji" src="assets/imgs/news.png">
                            </div>
                            <div class="sad-details-container">
                                <h3> Ajouter du contenu à votre chapitre... </h3>
                            </div>
                        </div>

                    </mat-card-content>
                </mat-card>
                <div *ngIf="role === 'Student'">
                    <mat-card class="flux-card">
                        <mat-card-header>
                            <mat-card-title>

                                <p class="course-name ">{{ chapter.chapterName }}</p>
                                <!-- <h3 class="course-description ">{{ course.courseDescription }}</h3> -->
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                    <!-- <mat-card-title>
                        <p class="chapter-name">{{ chapter.chapterName }}</p>
                    </mat-card-title> -->
                </div>
                <!-- <mat-card class="chapters-card" *ngIf="role === 'Student'">

                    <mat-card-header>
                        <mat-card-title>
                            <p class="chapter-name">{{ chapter.chapterName }}</p>
                        </mat-card-title>
                    </mat-card-header>
                    <hr>
                    <mat-card-content>

                        <div class="sad-container">
                            <div class="sad-image-container">
                                <img class="sad-emoji" src="assets/imgs/news.png">
                            </div>
                            <div class="sad-details-container">
                                <h3> Ce chapitre ne contient aucun contenu... </h3>
                            </div>
                        </div>

                    </mat-card-content>
                </mat-card> -->
            </div>
            <div class="card-container" *ngIf="chapter.content && chapter.content.length > 0 ">
                <mat-card class="chapters-content-card" *ngFor="let content of chapter.content">
                    <mat-card-header>
                        <mat-card-title>
                            <p class="card-title">{{ creatorName }}</p>
                        </mat-card-title>
                        <mat-card-subtitle>{{ content.createdAt | date:'medium'}}</mat-card-subtitle>
                        <div mat-card-avatar class="header-user-image">
                            <img src="assets/imgs/profile.png">
                        </div>
                    </mat-card-header>
                    <hr>
                    <mat-card-content>
                        <mat-card-title>
                            <p class="card-title">{{ content.contentTitle }}</p>
                        </mat-card-title>
                        <p>{{ content.content }}</p>
                        <mat-accordion class="content-headers-align" multi="true" *ngIf="content.documents.length > 0 ">
                            <mat-expansion-panel *ngFor="let document of content.documents">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ document.documentType }}
                                    </mat-panel-title>
                                    <mat-panel-description *ngIf="document.documentType === 'IMAGE'">
                                        <mat-panel-description>
                                            Voir l'image
                                            <img class="document-type-icon" src="assets/imgs/photo.png">
                                        </mat-panel-description>

                                    </mat-panel-description>
                                    <mat-panel-description *ngIf="document.documentType === 'SOUND'">
                                        <mat-panel-description>
                                            Voir le podcast
                                            <img class="document-type-icon" src="assets/imgs/speaker.png">
                                        </mat-panel-description>

                                    </mat-panel-description>
                                    <mat-panel-description *ngIf="document.documentType === 'VIDEO'">
                                        <mat-panel-description>
                                            Voir la vidéo
                                            <img class="document-type-icon" src="assets/imgs/music-and-multimedia.png">
                                        </mat-panel-description>

                                    </mat-panel-description>
                                    <mat-panel-description *ngIf="document.documentType === 'FILE'">
                                        <mat-panel-description>
                                            Voir le fichier
                                            <img class="document-type-icon" src="assets/imgs/files-and-folders.png">
                                        </mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div class="document-file" *ngIf="document.documentType === 'IMAGE'">
                                    <img [src]="document.file" [alt]="content.contentTitle">
                                </div>

                                <a [href]="document.file" *ngIf="document.documentType === 'FILE'">Consulter le fichier</a>
                                <pdf-viewer [src]="document.file" [render-text]="true" [show-all]="false" [original-size]="true" [autoresize]="true" *ngIf="document.documentType === 'FILE'"></pdf-viewer>

                                <div class="video-container" *ngIf="document.documentType === 'VIDEO'">
                                    <video [src]="document.file" controls></video>
                                </div>
                                <div *ngIf="document.documentType === 'SOUND'">
                                    <audio controls [src]="document.file">
                                              Your browser does not support the
                                              <code>audio</code> element.
                                      </audio>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <p class="info-text mat-body-1" *ngIf="content.documents.length <= 0 ">Aucun document!</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
