<mat-toolbar class="mat-elevation-z6">
    <div *ngIf="displayLoader" class="toolbar-overlay"></div>
    <div class="logo-container">
        <img class="logo" src="assets/imgs/logo-app.png" (click)="navigateToCourses()">
    </div>

    <div class="spacer"></div>
    <div class="user-info-container">
        <div class="user-image-container">
            <app-profile-picture class="profile-picture-navbar" [fullName]="fullName"></app-profile-picture>
            <!-- <img class="avatar" src="assets/imgs/users.png"> -->
        </div>

        <div class="user-details-container" [matMenuTriggerFor]="menu">
            <span class="user-name">{{ user.lastName + " "+ user.firstName }}</span>
            <span class="user-role" *ngIf="user.role === 'Teacher'"> Enseignant </span>
            <span class="user-role" *ngIf="user.role === 'Student'"> Étudiant </span>
        </div>

        <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Se déconnecter</span>
      </button>
        </mat-menu>
    </div>
</mat-toolbar>
