<div class="dialog-header-container">

    <h2 class="dialog-title">Se déconnecter</h2>

</div>

<div class="dialog-content-container">

    <p>Vous êtes sur le point de vous déconnecter, voulez-vous continuer?</p>

</div>

<div class="dialog-actions-container">

    <div class="actions right">
        <button mat-button [mat-dialog-close]="false">Annuler</button>
        <button mat-raised-button class="primary-btn" [mat-dialog-close]="true" cdkFocusInitial>Se déconnecter</button>
    </div>

</div>
