<div class="app-layout-header">
    <div class="app-layout-wrapper">
        <h1>{{ course.courseName }}</h1>
        <p>{{ chapter.chapterName }}</p>
    </div>
</div>
<div class="app-layout-wrapper">
    <form [formGroup]="addContentForm">
        <mat-card class="content-form-card">
            <mat-card-content>
                <mat-form-field>
                  <mat-label>Titre </mat-label>
                  <input matInput id="contentTitle" formControlName="contentTitle"  required>
                  <mat-error *ngIf="addContentForm.get('contentTitle').hasError('required')">Ce champ est obligatoire</mat-error>
                  <mat-error *ngIf="addContentForm.get('contentTitle').hasError('blank')">Le titre doit avoir au moins un caractère.</mat-error>
                  <mat-error *ngIf="addContentForm.get('contentTitle').hasError('maxlength')">Veuillez ne pas dépasser 50 caractères!</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contenu</mat-label>
                    <textarea matInput id="content" formControlName="content" rows="5" required></textarea>
                    <mat-error *ngIf="addContentForm.get('content').hasError('required')">Ce champ est obligatoire.</mat-error>
                    <mat-error *ngIf="addContentForm.get('content').hasError('blank')">Le contenu doit avoir au moins un caractère.</mat-error>
                    <mat-error *ngIf="addContentForm.get('content').hasError('maxlength')">Veuillez ne pas dépasser 50 caractères!</mat-error>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <div class="document-container" formArrayName="documents" *ngIf="showDocumentCard">
            <mat-card class="content-form-card" *ngFor="let document of documents.controls; let i = index;" [formGroupName]="i">
                <mat-card-content>
                    <div class="remove-document-container">
                        <img src="assets/imgs/close.png" (click)="onRemoveDocument(i)">
                        <!-- <mat-icon (click)="onRemoveDocument(i)">clear</mat-icon> -->
                    </div>
                    <mat-form-field>
                        <mat-label>Type du document </mat-label>
                        <mat-select id="documentType" formControlName="documentType" required (selectionChange)="onDocumentTypeSelectionChange(i)">
                            <mat-option value="FILE">Fichier</mat-option>
                            <mat-option value="IMAGE">Image</mat-option>
                            <mat-option value="SOUND">Son</mat-option>
                            <mat-option value="VIDEO">Vidéo</mat-option>
                            <mat-option value="URL">Lien</mat-option>
                        </mat-select>
                        <mat-error *ngIf="document.get('documentType').hasError('required')">Ce champ est obligatoire</mat-error>
                    </mat-form-field>

                </mat-card-content>
            <div  *ngIf="document.get('documentType').value">
              <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
              <input type="file" #filePicker (change)="onFileChange($event, i, document.get('documentType').value)">
              <!--adding image preview -->
              <!-- <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && addContentForm.get('documentPath').valid">
                  <img [src]="imagePreview" [alt]="addContentForm.value.title">
              </div> -->
            </div>
            <!-- <div  *ngIf="document.get('documentType').value === 'FILE'">
              <button mat-stroked-button type="button" (click)="imagePicker.click()">Pick Image</button>
              <input type="file" #imagePicker (change)="onFileChange($event, i)">

            </div>
            <div  *ngIf="document.get('documentType').value === 'VIDEO'">
              <button mat-stroked-button type="button" (click)="imagePicker.click()">Pick Image</button>
              <input type="file" #imagePicker (change)="onImageChange($event, i)">
            </div>
            <div  *ngIf="document.get('documentType').value === 'SOUND'">
              <button mat-stroked-button type="button" (click)="imagePicker.click()">Pick Image</button>
              <input type="file" #imagePicker (change)="onImageChange($event, i)">
            </div>
            <div  *ngIf="document.get('documentType').value === 'URL'">
              <button mat-stroked-button type="button" (click)="imagePicker.click()">Pick Image</button>
              <input type="file" #imagePicker (change)="onImageChange($event, i)">
            </div> -->
          </mat-card>
        </div>
        <mat-card matRipple class="clickable-card add-document-clickable-card" (click)="onAddDocument()">
            <img class="add-doc-img" src="assets/imgs/plus.png">
            <span>Ajouter un document</span>
        </mat-card>
        <div class="form-actions-container">
            <button mat-raised-button color="primary" (click)="onCreateContent()">Ajouter</button>
        </div>
    </form>
</div>
