.app-layout-main-container {
    position: absolute;
    background-color: #f6f7fb;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    .app-layout-content {
        height: 100%;
        .app-layout-header {
            width: 100%;
            // background-image: linear-gradient(90deg, #006eff, #04F6FF);
            background: #03a4ff;
            color: white;
            opacity: 0.5;
            h1 {
                margin-bottom: 0px !important;
            }
        }
        .app-layout-wrapper {
            width: 60%;
            margin: 0 auto;
            padding: 48px 0px;
        }
    }
}

hr {
    background-color: #d8d8d8
}