.page-layout-main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F0F3F6;
}

.page-layout-body-container {
    width: 500px;
}

.logo-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 100%;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.page-card,
.form-card {
    width: 100% !important;
    padding: 0 !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

mat-card-content,
mat-card-actions {
    padding: 24px !important;
    margin: 0px !important;
}

mat-card-actions {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.clickable-text,
.login-btn {
    display: block !important;
}

.clickable-text {
    margin-bottom: 0px !important;
}

.login-btn {
    background-image: linear-gradient(90deg, #0011FF, #04F6FF);
    color: white;
    margin: 0;
}

.page-card>mat-card-header {
    padding: 10px !important;
    margin: 0px !important;
    background-image: linear-gradient(90deg, #0011FF, #04F6FF);
    padding-top: 30px !important;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    // border-bottom-left-radius: 0px !important;
    // border-bottom-right-radius: 0px !important;
}

mat-card-title {
    font-size: 1.5rem !important;
}

.clickable-card {
    cursor: pointer;
}