mat-card {
    box-sizing: border-box !important;
}

.page-course-card,
.course-card {
    width: 100% !important;
    padding: 0 !important;
    mat-card-content,
    mat-card-actions {
        padding: 24px !important;
        margin: 0px !important;
    }
    mat-card-actions {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-end;
        position: relative;
        .clickable-text {
            margin-bottom: 0px;
            position: absolute;
            left: 24px;
            bottom: 24px;
        }
    }
}

.page-course-card {
    mat-card-header {
        padding: 24px !important;
        margin: 0px !important;
        //background: map-get($colors, primary) !important;
        padding-top: 60px !important;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        mat-card-title,
        mat-card-subtitle {
            font-weight: 300 !important;
        }
        mat-card-title {
            font-size: 1.5rem !important;
        }
        mat-card-subtitle {
            font-size: 1.75rem !important;
            line-height: 2rem !important;
            margin-bottom: 0px !important;
        }
    }
}

.clickable-card {
    cursor: pointer;
}
