<div class="page-layout-main-container">
    <div class="page-layout-body-container">
        <mat-card class="page-card">
            <mat-card-header>
                <mat-card-title>
                    <img class="logo" src="assets/imgs/logo-app.png">
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="signUpForm">

                    <mat-form-field>
                        <input matInput type='text' name="firstName" placeholder='Nom' formControlName="firstName" required>
                        <mat-error *ngIf="signUpForm.get('firstName').hasError('required')">Ce champ est obligatoire</mat-error>
                        <mat-error *ngIf="signUpForm.get('firstName').hasError('blank')">Le nom doit avoir au moins un caractère</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type='text' name="lastName" placeholder='Prénom' formControlName="lastName" required>
                        <mat-error *ngIf="signUpForm.get('lastName').hasError('required')">Ce champ est obligatoire</mat-error>
                        <mat-error *ngIf="signUpForm.get('lastName').hasError('blank')">Le prénom doit avoir au moins un caractère.</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type='email' name="email" placeholder='E-mail' formControlName="email" required email>
                        <mat-error *ngIf="signUpForm.get('email').hasError('customEmail')">L'adresse mail est invalide.</mat-error>
                        <mat-error *ngIf="signUpForm.get('email').hasError('notUnique')">Cette adresse existe déjà!</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type='password' name="password" placeholder='Mot de passe' formControlName="password" required>
                        <mat-error *ngIf="signUpForm.get('password').hasError('weakPassword')">Votre mot de passe n'est pas valide.</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Confirmer le mot de passe</mat-label>
                        <input matInput type="password" id="passwordConfirmation" formControlName="passwordConfirmation" required>
                        <mat-error *ngIf="signUpForm.get('passwordConfirmation').hasError('required')">Ce champ est obligatoire.</mat-error>
                        <mat-error *ngIf="signUpForm.get('passwordConfirmation').hasError('notIdentical')">Les mots de passe ne correspondent pas.</mat-error>
                    </mat-form-field>

                </form>
            </mat-card-content>
            <mat-card-actions>
                <p class="clickable-text">Vous avez un compte?<br><a routerLink="/login">Se connecter</a></p>
                <button class="login-btn" mat-raised-button (click)="onSignup()">
            S'inscrire
        </button>
            </mat-card-actions>

        </mat-card>

    </div>

</div>
