.placeholder {
    padding: 48px 0px;
    text-align: center;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    .card-container {
        min-width: 260px;
        min-height: 180px;
        padding: 12px;
        box-sizing: border-box;
        display: flex;
        .create-new-course-button-card,
        .displayed-course-card {
            flex: 1;
            position: relative;
            .course-description {
                font-size: small;
                width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #564D4D;
            }
            .student-number {
                font-size: smaller;
                text-overflow: ellipsis;
                color: #564D4D;
            }
        }
        .create-new-course-button-card {
            .button-card-content {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                p {
                    margin-bottom: 0px;
                    color: #564D4D;
                }
            }
        }
        .displayed-course-card {
            .course-menu-button-container {
                pointer-events: visible;
                position: absolute;
                bottom: 8px;
                right: 8px;
            }
        }
    }
}

.course-name {
    color: #564D4D;
    font-size: 1.25rem !important;
    //font-weight: bold;
    line-height: 2rem !important;
    margin-bottom: 0px !important;
}

.sad-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 4px;
    vertical-align: middle
}

.sad-image-container {
    height: 50px;
    width: 50px;
    vertical-align: middle
}

.sad-emoji {
    height: 100%;
}

.sad-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    margin-left: 24px;
}

.icon {
    color: #888888;
}