<div class="app-layout-wrapper">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab>
            <ng-template mat-tab-label>
                Mes cours
            </ng-template>
            <div class="tab-content-container">
                <div class="progress-spinner-container" *ngIf="isLoading">
                    <mat-spinner [diameter]="50" [strokeWidth]="4"></mat-spinner>
                </div>
                <div *ngIf="!isLoading">
                    <div class="placeholder" *ngIf="!courses || courses.length <= 0">
                        <p>Vous n'avez aucun cours! <a (click)="onCreateNewCourse()">Cliquez ici pour créer votre premier cours</a></p>
                    </div>
                </div>
                <div class="cards-container" *ngIf="courses && courses.length > 0">
                    <div class="card-container">
                        <mat-card matRipple class="create-new-course-button-card clickable-card" (click)="onCreateNewCourse()">
                            <div class="button-card-content">
                                <mat-icon>add</mat-icon>
                                <p>Créer un nouveau cours</p>
                            </div>
                        </mat-card>
                    </div>
                    <div class="card-container" *ngFor="let course of courses; let i = index;">
                        <mat-card matRipple class="displayed-course-card clickable-card" (click)="navigateToCourseDetails(course._id)">

                            <h3 class="course-name">{{ course.courseName }}</h3>
                            <p class="course-description">{{ course.courseDescription }}</p>
                            <p class="student-number">0 étudiant</p>
                            <div class="course-menu-button-container" (click)="$event.stopPropagation()" [matMenuTriggerFor]="courseMenu" [matMenuTriggerData]="{ formIndex: i }">
                                <mat-icon>more_vert</mat-icon>
                            </div>
                            <mat-menu #courseMenu="matMenu">
                                <button mat-menu-item>
                        <mat-icon>visibility</mat-icon>
                        <span>Afficher le cours</span>
                    </button>
                                <button mat-menu-item>
                      <mat-icon>create</mat-icon>
                      <span>Modifier le cours</span>
                  </button>
                                <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Supprimer le cours</span>
                </button>
                            </mat-menu>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>