<div class="app-layout-wrapper">

    <div class="add-chapter" *ngIf="!isLoading && course.chapters && course.chapters.length > 0 && role === 'Teacher'">
        <button mat-fab class="add-chapter-btn" matTooltip="Ajouter un chapitre" (click)="openNewChapterDialog()">
          <mat-icon>add</mat-icon>
        </button>
    </div>

    <mat-tab-group mat-stretch-tabs (selectedIndexChange)="loadCourse(course._id, $event)">
        <mat-tab label=" Flux ">
            <div class="tab-content-container">
                <div class="progress-spinner-container " *ngIf="isLoading ">
                    <mat-spinner [diameter]="50 " [strokeWidth]="4 "></mat-spinner>
                </div>

                <mat-card class="flux-card" *ngIf="!isLoading">
                    <mat-card-header>
                        <mat-card-title>
                            <p class="course-name">{{ course.courseName }}</p>
                            <h3 class="course-description">{{ course.courseDescription }} <br> {{ students.length }} étudiants</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content></mat-card-content>
                </mat-card>

                <div class="card-container">
                    <mat-accordion class="content-headers-align" *ngIf="!isLoading">
                        <mat-expansion-panel class="posts-panel md-elevation-zX">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Partager une information avec votre classe...
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <form [formGroup]="addPostForm">
                                <mat-form-field>
                                    <mat-label>Partager avec votre classe</mat-label>
                                    <textarea matInput id="postContent" formControlName="postContent" rows="5" required></textarea>
                                    <mat-error *ngIf="addPostForm.get('postContent').hasError('required')">Ce champ est obligatoire.</mat-error>
                                    <mat-error *ngIf="addPostForm.get('postContent').hasError('blank')">Le contenu doit avoir au moins un caractère.</mat-error>
                                </mat-form-field>

                                <mat-action-row>
                                    <button mat-button class="primary-btn" (click)="onAddPost()">Publier</button>
                                </mat-action-row>
                            </form>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-card class="chapters-card" *ngFor="let post of course.posts">
                        <mat-card-header>
                            <div class="user-info-container">
                                <div class="user-image-container">
                                    <img class="avatar" src="assets/imgs/user-a.png">
                                </div>
                                <div class="user-details-container">
                                    <p class="chapter-name ">{{ authorName }} a ajouté une information</p>
                                    <mat-card-subtitle>
                                        Date de publication : {{ post.createdAt | date:'mediumDate' }}
                                    </mat-card-subtitle>
                                </div>
                            </div>
                        </mat-card-header>
                        <mat-card-content *ngIf="course.posts.length >= 1">
                            <mat-accordion class="content-headers-align">
                                <mat-card class="comments-card">

                                    <mat-card-subtitle>
                                        {{ post.postContent }}
                                    </mat-card-subtitle>

                                    <form [formGroup]="addCommentForm">
                                        <mat-form-field class="comment-content">
                                            <mat-label>Ajouter un commentaire</mat-label>
                                            <input matInput id="commentContent" formControlName="commentContent" (keyup.enter)="onAddComment(post._id)" size="100px">
                                            <mat-error *ngIf="addPostForm.get('postContent').hasError('blank')"></mat-error>
                                        </mat-form-field>
                                        <button class="primary-btn" mat-mini-fab aria-label="send" (click)="onAddComment(post._id)"><mat-icon>send</mat-icon></button>
                                    </form>

                                    <mat-card-content *ngIf="post.comments.length > 0">
                                        <mat-accordion class="content-headers-align">
                                            <mat-expansion-panel hideToggle>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-description>
                                                        {{ post.comments.length }} . commentaires
                                                        <mat-icon>comment</mat-icon>
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <div *ngFor="let comment of comments">
                                                    <div class="user-details-container">
                                                        <p class="chapter-name ">{{ comment.author.lastName + ' ' + comment.author.firstName }}</p>
                                                        <mat-card-subtitle>
                                                            {{ comment.commentContent }}
                                                            <!-- Date de publication : {{ post.createdAt | date:'mediumDate' }} -->
                                                        </mat-card-subtitle>
                                                    </div>

                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </mat-card-content>
                                </mat-card>
                            </mat-accordion>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="chapters-card" *ngFor="let chapter of course.chapters ">
                        <mat-card-header>
                            <div class="user-info-container">
                                <div class="user-image-container">
                                    <img class="avatar" src="assets/imgs/user-a.png">
                                </div>
                                <div class="user-details-container">
                                    <p class="chapter-name ">{{ creatorName }} a publié un nouveau chapitre : {{ chapter.chapterName }}</p>
                                    <mat-card-subtitle>
                                        Date de publication : {{ chapter.createdAt | date:'mediumDate'}}
                                    </mat-card-subtitle>
                                </div>
                            </div>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-accordion class="content-headers-align" *ngIf="chapter.content.length > 0 ">
                                <mat-expansion-panel *ngFor="let content of chapter.content" hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-description>
                                            {{ content.contentTitle }}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-card-content>
                    </mat-card>
                </div>

            </div>
        </mat-tab>
        <mat-tab label="Chapitres">

            <div class="tab-content-container " *ngIf="role==='Teacher' && (!course.chapters || course.chapters.length <=0 ) ">
                <div class="progress-spinner-container " *ngIf="isLoading ">
                    <mat-spinner [diameter]="50 " [strokeWidth]="4 "></mat-spinner>
                </div>
                <div *ngIf="!isLoading ">
                    <mat-card class="create-chapters-card clickable-card " (click)="openNewChapterDialog() ">
                        <mat-card-content>
                            <div class="sad-container ">
                                <div class="sad-image-container ">
                                    <img class="sad-emoji " src="assets/imgs/sad.png ">
                                </div>
                                <div class="sad-details-container ">
                                    <p>Vous n'avez aucun chapitre </p>
                                    <h3>Attribuez des chapitres à votre classe ici</h3>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="tab-content-container " *ngIf="course.chapters && course.chapters.length> 0">
                <div class="progress-spinner-container" *ngIf="isLoading">
                    <mat-spinner [diameter]="50" [strokeWidth]="4"></mat-spinner>
                </div>
                <div *ngIf="!isLoading">
                    <div class="card-container" *ngFor="let chapter of course.chapters">
                        <mat-card class="chapters-card clickable-card" (click)="navigateToChapterDetails(course._id, chapter._id)">
                            <mat-card-title class="card-title">
                                <h2>{{ chapter.chapterName }}</h2>
                                <div class="right">
                                    <mat-card-subtitle>Date de publication: {{ chapter.createdAt | date:'mediumDate'}}</mat-card-subtitle>
                                </div>
                            </mat-card-title>
                            <hr>
                            <mat-card-content *ngIf="!chapter.content || chapter.content.length <= 0">
                                <div class="sad-container">
                                    <div class="sad-image-container">
                                        <img class="sad-emoji" src="assets/imgs/sad.png">
                                    </div>
                                    <div class="sad-details-container">
                                        <p>Ce chapitre ne contient pas de contenu! </p>
                                        <h3 *ngIf="role === 'Teacher'"> Ajouter du contenu à votre chapitre... </h3>
                                    </div>
                                </div>
                            </mat-card-content>
                            <mat-card-content *ngIf="chapter.content && chapter.content.length > 0 ">
                                <mat-list *ngFor="let content of chapter.content,  let lastItem = last;">
                                    <mat-list-item>
                                        <div class="content">
                                            <div class="content-icon-container">
                                                <img class="content-icon" src="assets/imgs/book.png">
                                            </div>
                                            <div class="right">
                                                <p class="content-name">
                                                    {{ content.contentTitle }}
                                                </p>
                                            </div>
                                        </div>
                                    </mat-list-item>
                                    <mat-divider *ngIf="!lastItem"></mat-divider>
                                </mat-list>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>

        </mat-tab>

        <mat-tab label="Personnes">
            <div class="tab-content-container">
                <div class="progress-spinner-container" *ngIf="isLoading">
                    <mat-spinner [diameter]="50" [strokeWidth]="4"></mat-spinner>
                </div>
                <div *ngIf="!isLoading">
                    <mat-card class="flux-posts-card">
                        <mat-card-title class="card-title">
                            <h2>
                                Enseignant
                            </h2>
                        </mat-card-title>
                        <hr>
                        <mat-card-content>
                            <div class="user-info-container">
                                <div class="user-image-container">
                                    <img class="avatar" src="assets/imgs/user-a.png">
                                </div>
                                <div class="user-details-container">
                                    <span class="user-name">{{ creatorName }}</span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="flux-posts-card">
                        <mat-card-title class="card-title">
                            <h2>Étudiants</h2>
                            <div class="right" *ngIf="role === 'Teacher'">
                                <img src="assets/imgs/add.png" matTooltip="Ajouter un étudiant" (click)="onOpenAddStudentDialog()">
                            </div>
                        </mat-card-title>
                        <hr>
                        <mat-card-content *ngIf="role === 'Teacher' && (!students || students.length <= 0)">
                            <div class="sad-container">
                                <div class="sad-image-container">
                                    <img class="sad-emoji" src="assets/imgs/sad.png">
                                </div>
                                <div class="sad-details-container">
                                    <p>Aucun étudiant suit ce cours! </p>
                                    <h3> Ajouter des étudiants à votre cours... </h3>
                                </div>
                            </div>
                        </mat-card-content>

                        <mat-card-content *ngIf="students && students.length > 0 ">
                            <mat-selection-list>
                                <mat-list-option *ngFor="let student of students">
                                    <div class="user-info-container">
                                        <div class="user-image-container">
                                            <img class="avatar" src="assets/imgs/user-a.png">
                                        </div>
                                        <div class="user-details-container">
                                            <span class="user-name">{{ student.lastName + " "+ student.firstName }}</span>
                                        </div>
                                    </div>

                                </mat-list-option>
                            </mat-selection-list>
                        </mat-card-content>
                    </mat-card>
                </div>

            </div>
        </mat-tab>
    </mat-tab-group>

</div>
